<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>こんにちは, <%= @user.name %>様</h1>
    <p>
      ご登録ありがとうございます。<br/>
      登録が完了いたしました。
    </p>
  </body>
</html>