<!--読みたい本に登録されているかいないかで表示を変えたいため条件分岐-->
<% if !Like.exists?(user_id: current_user.id, book_id: book.id) %>
  <%= link_to book_likes_path(book.id), method: :post, remote: true, class:"like-btn" do %>
    <button class="btn btn-outline-secondary">読みたい本</button>
  <% end %>
<% else %>
  <%= link_to book_like_path(book_id: book.id, id: book.likes[0].id), method: :delete, remote: true, class:"like-btn" do %>
    <button class="btn btn-outline-secondary text-warning">読みたい本から解除</button>
  <% end %>
<% end %>