<%= book.likes.count %>人
<!--読みたい本に登録されているかいないかで表示を変えたいため条件分岐-->
<% if !Like.exists?(user_id: current_user.id, book_id: book.isbn) %>
  <%= link_to book_likes_path(book.isbn), method: :post, remote: true, class:"like-btn ml-5" do %>
    <button class="btn btn-outline-secondary">読みたい</button>
  <% end %>
<% else %>
  <!--useridに紐付いたlike_idを削除する-->
  <%= link_to book_like_path(book_isbn: book.isbn, id: book.likes.find_by(user_id: current_user.id).id), method: :delete, remote: true, class:"like-btn" do %>
    <button class="btn btn-outline-secondary text-warning">読みたい本から解除</button>
  <% end %>
<% end %>