<!--折りたたみ式にするために指定している-->
<button type="button" class="btn btn-outline-secondary m-3 text-success" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    カテゴリー検索
</button>
<!--折り畳みの範囲を指定するために「id="collapseExample"」を付与している-->
<div class="collapse" id="collapseExample">
    <div class="border p-3">
      <table class="table table-border">
        <% categories.each do |category| %>
        <tr>
            <td class="text-center">
              <%= link_to "#{(category.name)}におすすめ", search_path('search[value]': category.id, 'search[how]': "match") %>
            </td>
        </tr>
        <% end %>
      </table>
    </div>
</div>
