<div class="heading">
  <h1 class="text-center heading-top">
    Readingへ ようこそ
  </h1>
  <div class="top-image">
    <div class="cover-text">
      <p class="top-text">
        ようこそ　Readingへ！<br>
        このサイトは、本の感想の投稿サイトになります<br><br>
      
        読書好きの方は、このサイトで読んだ本の感想などを投稿してください。<br>
        またこれから読書をしようと思っている方はいろんな方の感想などを参考にして自分の読みたい本を見つけてください。<br>
        漫画の感想などもOKです♪<br><br>
      
        会員登録がおすみ出ない方は、「新規登録」ボタンから<br>
        会員登録がおすみの方は、「ログイン」ボタンよりご入室お願いいたします。
      </p>
    </div>
  </div>
</div>