<% if @datas.empty? %>
  <h2>該当する商品はありません</h2>
<% end %>
  <% @datas.each do |data| %>
    <div>
      <%= data.book.title %><br>
      <%= image_tag(data.book.image_url) %>
      <%= data.content %>
    </div>
  <% end %>
