<h1>マイページ</h1>
  <h4>ニックネーム</h4>
  <%= attachment_image_tag @user, :image, :fill, 60, 60, fallback: "no_image.jpg" %>
  <%= @user.nickname %>
  <% if @user.id == current_user.id %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>


<% @user.books.each do |book| %>
  <h4>タイトル</h4>
  <%= book.title %>
<% end %>